{% extends 'base.html'%}
{% block menu%}
<a href="{% url 'home'%}" class="btn btn-success">Главная</a>
<a href="{% url 'opt' meta.date%}" class="btn btn-success">Опт</a>
<a href="{% url 'retail' meta.date %}" class="btn btn-success">Розница</a>
<a href="{% url 'base' meta.date %}" class="btn btn-success">Остаток Базы</a>
<a href="{% url 'mony' meta.date %}" class="btn btn-success">Деньги</a>
{% endblock%}
{% block content%}

{{meta.base}} - на начало {{meta.date}}

<table class="table table-bordered">
    <tbody>
        <tr>

            <td rowspan="1">Склад</td>
            <td rowspan="1">Тип топлива</td>
            <td rowspan="1">Владелец</td>
            <td rowspan="1">Конечный остаток</td>

        </tr>
        {% if base%}

        {% for b in base%}
        <tr>
            <td class="storage">{{b.storage}}</td>
            <td class="type-oil">{{b.fuel}}</td>
            <td class="summ_fact_before_month">{{b.owner}}</td>
            <td class="summ_fact_month">{{b.balance}}</td>

        </tr>
        {%endfor%}
        {%endif%}

    </tbody>
</table>





{% endblock %}