{% extends 'base.html'%}

<div class="container-md mt-3">
    {% block menu%}
    <a href="{% url 'home'%}" class="btn btn-success">Главная</a>
    {% endblock %}
    {% block content%}
    <div class="row justify-content-left mb-3">
        <div class="col-lg-3 col-sm-6">
            <form action="{% url 'search' %}" method="get">
                <label for="startDate">Выберите дату</label>
                <input id="startDate" class="form-control" type="date" name="q" />
                <button class="btn btn-success" type="submit">Найти</button>
            </form>
            <span id="startDateSelected"></span>

        </div>

    </div>

    {% for d in date %}
    <a href="{% url 'opt' d.date %}">{{d.date}}</a><br>
    {% endfor %}
    {% endblock %}
</div>