{% extends 'base.html'%}
{% block menu%}
<a href="{% url 'home'%}" class="btn btn-success">Главная</a>
<a href="{% url 'opt' meta.date%}" class="btn btn-success">Опт</a>
<a href="{% url 'retail' meta.date %}" class="btn btn-success">Розница</a>
<a href="{% url 'base' meta.date %}" class="btn btn-success">Остаток Базы</a>
<a href="{% url 'mony' meta.date %}" class="btn btn-success">Деньги</a>
{% endblock%}
{% block content%}

{{meta.opt}} - от {{meta.date}}
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>Тип топлива</td>
            <td>Факт за вчера</td>
            <td>План ткущий месяц</td>
            <td>Факт текущий месяц</td>
            <td>Факт месяц прошлый год</td>
            <td>Отклонение</td>
        </tr>
        <tr>
            <td>Всего</td>
            <td class="opt_allDay"></td>
            <td class="opt_allPlanMonth"></td>
            <td class="opt_allFactMonth"></td>
            <td></td>
            <td class="opt_allDeviations"></td>
        </tr>
        <!-- опт -->
        {% if opt_all%}
        {% for o in opt_all%}
        <tr>
            <td class="type_oil">{{o.typeOil}}</td>
            <td class="opt_day">{{o.summFactDay}}</td>
            <td class="opt_planMonth">{{o.summMonth}}</td>
            <td class="opt_factMonth">{{o.summFactMonth}}</td>
            <td>{{o.summDactMonthBeforeYear}}</td>
            <td class="opt_deviations"></td>
        </tr>
        {%endfor%}
        {%endif%}
        <!-- розница -->
        {% if retail_value%}
        {% for r in retail_value%}
        <tr>
            <td>{{r.unitate}}</td>
            <td>{{r.typeOil}}</td>
            <td>{{r.summMonth}}</td>
            <td>{{r.summFactMonth}}</td>
            <td>
                <p {% if r.summFactBeforeMonth < 0%} class="text-danger" {%endif%}>{{r.summFactBeforeMonth}}</p>
            </td>
            <td>{{r.summQuarter}}</td>
            <td>{{r.summFactQuarter}}</td>
            <td>{{r.summYear}}</td>
            <td>{{r.summFactYear}}</td>
        </tr>
        {%endfor%}
        {%endif%}

    </tbody>
</table>

{% endblock%}